@import "../breakpoints.scss";
@import "../colors.scss";
@import "../fonts.scss";

:root {
    --animationSpeed: 0s,
}

.btm-gallery-wrapper {
    position: relative;
    width: auto;
    margin-top: 24vw;
    padding: 4vw;
    overflow: hidden;
    @include media(">=tablet"){
        margin-top: 48vw;
    }
    @include media(">=desktop"){
        margin-top: 38vw;
    }
    @include media(">=LGdesktop"){
        margin-top: 38vw;
    }
}

.gallery-title--styles {
    text-align: center;
    font-weight: 200;
    font-family: $font-main;
    color: $complimentary-clr;
    margin-top: -16px;
    font-size: 32px;
    @include media(">=tablet"){
        margin-top: -32px;
        font-size: 64px;
    }
    @include media(">=desktop"){
        margin-top: -48px;
        font-size: 64px;
    }
    @include media(">=LGdesktop"){
        margin-top: -96px;
        font-size: 96px;
    }
}

.btm-helpful-txt-container {
    position: relative;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btm-helpful-txt {
    position: absolute;
    font-size: 18px;
    text-align: center;
    width: 200px;
    background-color: $bg-dark;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
   
    @include media(">=tablet"){
        width: 250px;
        padding: 2vw;
        margin-top: 150px;
        font-size: 32px;
    }
    @include media(">=desktop"){
        width: 200px;
        
    }
    @include media(">=LGdesktop"){
        width: 200px;
    }
}

.btm-vertical-bar {
    position: absolute;
    width: 1px;
    right: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: $complimentary-clr;
    @include media(">=tablet"){
        width: 1px;
        height: 600px;
        margin-bottom: 1.5vw;
    }   
    @include media(">=desktop"){
        height: 650px;
        
    }
    @include media(">=LGdesktop"){
        height: 950px;
    }
}

.btm-gallery-row { 
    //transform: translate3d(30vw, 0, 0);
    //border: 2px solid red;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    @include media(">=tablet"){

    }
    @include media(">=desktop"){
        
    }
}

.btm-gallery-row::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 25px;
    background-color: lighten($color: $bg-dark, $amount: 10); /* or add it to the track */
}

.btm-gallery-row::-webkit-scrollbar-thumb {
    background-color: $secondary-clr;
}


.btm-gallery-child {
    //border: 2px solid red;
}

.btm-gallery-pic {
    height: 300px;
    padding-right: 2vw;
    display: inline-block;
    @include media(">=tablet"){
        height: 350px;
    }
    @include media(">=desktop"){
        height: 350px;
    }
}

@keyframes slideshowTransform {
    0% {
        transform: translateX(35%);  
    }
    100% { 
    transform: translateX(-105%);  
  }
}


.dnone {
    display: none;
}






