@import "../breakpoints.scss";
@import "../colors.scss";
@import "../fonts.scss";

:root {
    --animationSpeed: 0s,
}

.btm-gallery-wrapper {
    position: relative;
    margin-top: 12vw;
    padding: 4vw;
    overflow: hidden;
    //border: 2px solid red;

    @include media(">=tablet"){
        
    }
    @include media(">=desktop"){
        
    }
}

.btm-gallery-row { 
    transform: translate3d(0, 0, 0);
    display: flex;
    

    //border: 2px solid blue;
    @include media(">=tablet"){

    }
    @include media(">=desktop"){
        
    }
}

.btm-gallery-pic {
    width: 300px;
    height: auto;
    padding-right: 2vw;

    @include media(">=tablet"){

    }
    @include media(">=desktop"){
        
    }
}

@keyframes slideshowTransform {
    0% {
        transform: translateX(35%);  
    }
    100% { 
    transform: translateX(-105%);  
  }
}
