@import "../breakpoints.scss";
@import "../colors.scss";
@import "../fonts.scss";

.gallery-wrapper {
    height: auto;
    margin: 32px 32px 0px 32px;
    //order: 2px solid purple;
    display:flex;
    flex-direction: column;
    align-items: center;
     @include media(">=tablet") { 
        margin: 96px 32px 0px 32px;
    }
    @include media(">=desktop") { 
        margin: 192px 32px 0px 32px;
    }
    @include media(">=LGdesktop") { 
        margin: 384px 32px 0px 32px;
    }
}

.overflow-hid {
    overflow: hidden;
}

.gallery-wrapper-item:nth-child(odd) {
    margin-bottom: 156px;
    width: 300px;
    height: 405px;
    margin: 0px 32px 156px 32px;
    transition: transform .5s cubic-bezier(.455,.03,.515,.955),height .5s cubic-bezier(.455,.03,.515,.955),-webkit-transform .5s cubic-bezier(.455,.03,.515,.955);
    //border: 2px solid blanchedalmond;
    @include media(">=tablet") { 
        width: 450px;
        height: auto; 
        transform: translate3d(-7.8vw,0,0);
        margin-bottom: 156px;
    }
    @include media(">=desktop") { 
        width: 700px;
        height: auto; 
        transform: translate3d(-7.8vw,0,0);
        margin-bottom: 156px;
    }
    @include media(">=LGdesktop") { 
        width: 800px;
        height: auto;
        transform: translate3d(-7.8vw,0,0);
        margin-bottom: 156px; 
    }
}

.gallery-wrapper-item:nth-child(even) {
    width: 300px;
    height: 405px;
    margin: 0px 32px 156px 32px;
    transition: transform .5s cubic-bezier(.455,.03,.515,.955),height .5s cubic-bezier(.455,.03,.515,.955),-webkit-transform .5s cubic-bezier(.455,.03,.515,.955);
    //border: 2px solid blanchedalmond;
    @include media(">=tablet") {
        width: 450px;
        height: auto; 
        transform: translate3d(7.8vw,0,0);
        right: 0%; 
        margin-bottom: 156px;
    }
    @include media(">=desktop") { 
        width: 700px;
        height: auto; 
        transform: translate3d(7.8vw,0,0);
        margin-bottom: 156px;
    }
    @include media(">=LGdesktop") { 
        width: 800px;
        height: auto;
        transform: translate3d(7.8vw,0,0);
        
        margin-bottom: 156px;
    }
}


.gallery-item-content {
    width: 100%;
    height: 100%;
    //border: 2px silver solid;
}

.animated-intro-img {
    width: 100%;
    height: auto;
}

.non-hover-title {
    margin-top: 8px;
}

.img-title--styles {
    font-family: $font-sub;
    color: $secondary-clr;
    font-weight: 800;
    @include media(">=tablet") { 
        font-size: 16px;
    }
    @include media(">=desktop") { 
        font-size: 24px;
    }
}

.img-category--styles {
    font-family: $font-sub;
    color: $secondary-clr;
    font-weight: 400;
    @include media(">=tablet") { 
        font-size: 16px;
    }
    @include media(">=desktop") { 
        font-size: 24px;
    }
}

.hover-title--styles {
    font-family: $font-sub;
    color: $secondary-clr;
    font-weight: 400;
    @include media(">=tablet") { 
        font-size: 16px;
    }
    @include media(">=desktop") { 
        font-size: 24px;
    }
}

.title-container {
    height: 23px;
    @include media(">=desktop") { 
        height: 28px;
    }
}