@import "../breakpoints.scss";
@import "../colors.scss";
@import "../fonts.scss";

:root {
    --yValue: 0;
}

//pre load
.loading-container {
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-color: $bg-dark;
    z-index: 10;
    top: 0;
}


.loading-txt {
    font-size: 56px;
    font-family: $font-main;
    color: $primary-clr;
    @include media(">tablet") { 
        font-size: 156px;
    }
    @include media(">desktop") { 
        font-size: 256px;
    }
}


//after loading animation styles 
.loading-txt-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.name-title {
    span {
            display: inline-block;
            position: relative;
    }
    // .ltr {
    //     border-bottom: 2px solid $complimentary-clr;
    // }
}

.loader-lname {
    margin-left: 20px;

}

.none {
    display: none;
}