@import "../breakpoints.scss";
@import "../colors.scss";
@import "../fonts.scss";

//pre load
.loading-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $bg-dark;
    z-index: 10;
    top: 0;
}

.loading-txt {
    font-size: 98px;
    font-family: $font-main;
    color: $primary-clr;
    @include media(">tablet") { 
        font-size: 156px;
    }
    @include media(">desktop") { 
        font-size: 256px;
    }
}


//after loading animation styles 
.loading-txt-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}