@import "../breakpoints.scss";
@import "../colors.scss";
@import "../fonts.scss";

$transition: transform .5s cubic-bezier(.455,.03,.515,.955),height .5s cubic-bezier(.455,.03,.515,.955),-webkit-transform .5s cubic-bezier(.455,.03,.515,.955);


.landing {
    display:flex;
    flex-direction: column;
    align-items: center;

    @include media("<=tablet"){
        margin: 98px 40px;
    }

    @include media(">=tablet"){
        margin: 98px 156px;
        
    }
}

.greeting-txt--styles {
    font-family: $font-sub;
    font-weight: 800;
    color: $primary-clr;

    @include media("<=tablet") {
        font-size: 24px;
        line-height: 1.2;
    }

    @include media(">=tablet") {
        font-size: 81px;
        line-height: 1.2;
    }
}

.juan-smiling {
    transition: $transition;
    float: right;

    @include media("<tablet") {
        width: 125px;
        height: auto;
        float: left;
        transform: translate3d(0,0,0);
    }

    @include media(">=tablet") {
        transform: translate3d(-8vw,0,0);
    }
    @include media(">=desktop") {
        transform: translate3d(-8vw,10vh,0);
    }
}
.about-para-container {
    transition: $transition;

    @include media("<=tablet") {
        transform: translate3d(0vw,5vh,0);
    }

    @include media(">=tablet") {
        transform: translate3d(0vw,5vh,0);
    }
}

.about-para--styles {
    font-family: $font-sub;
    font-weight: 400;
    color: $primary-clr;

    @include media("<=tablet"){
        font-size: 32px;
        line-height: 1.4;
    }

    @include media(">=tablet") {
        font-size: 36px;
        line-height: 1.4;
    }
}